QWidget {
    background-color: transparent;
    border: none;
}

#nameLabel, #urlLabel, #installButton {
    color: #222831;
}

#statisticsTitleLabel, #systemDemandTitleLabel {
    color: rgb(96, 96, 96);
}

#statisticsValueLabel, #systemDemandValueLabel {
    color: rgb(23, 23, 23);
}